{% extends 'base.html' %}

{% block title %}
    Чат {{ chat.title }} | {{ block.super }}
{% endblock %}

{% block styles %}
    <style>
        .container {
            height: 100vh;
        }

        .messages {
            display: flex;
            flex-direction: column;
            max-height: 100%;
            overflow: scroll;
            padding: 10px 0;
        }

        .msg-container {
            max-width: 50%;
            margin: 5px 0;
        }

        .msg-box {
            display: flex;
            flex-direction: column;
            background: #5b5e6c;
            padding: 10px 10px 0 10px;
            border-radius: 6px;
            min-width: 150px;
            width: fit-content;
            box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
        }

        .msg {
            display: inline-block;
            font-size: 14px;
            color: rgba(255, 255, 255, .9);
            margin: 8px 0 4px 0;
        }

        .username {
            color: rgba(0, 0, 0, .4);
            font-size: 10px;
            margin: 5px 0;
        }

        .msg-self {
            align-self: flex-end;
        }

        .msg-self .msg-box {
            background: #2671ff;
        }

        .msg-self .username {
            align-self: flex-end;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="chat">
        <div class="container d-flex flex-column justify-content-between">
            <div class="messages">
                {% for message in chat.messages.all %}
                    {% if message.sender == user %}
                        <div class="msg-container msg-self">
                            <div class="msg-box">
                                <div class="message">
                                    <p class="msg">{{ message.message }}</p>
                                </div>
                                <span class="username">{{ message.sender }}</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="msg-container">
                            <div class="msg-box">
                                <div class="message">
                                    <p class="msg" id="msg-0">{{ message.message }}</p>
                                </div>
                                <span class="username">{{ message.sender }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="input-group p-3 bg-dark">
                <input id="message-input" type="text" class="form-control" placeholder="Сообщение..."
                       aria-label="Сообщение" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button id="send-btn" class="btn btn-outline-success" type="button">Button</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        let messages_container = document.querySelector(".messages");
        messages_container.scrollTop = messages_container.scrollHeight;

        let last_message;

        let send_btn = document.getElementById("send-btn");
        let message_input = document.getElementById("message-input");

        let send_message = () => {
            let message = message_input.value;
            if (message.replace(/\s/g, '') === "") {
                message_input.value = "";
                return;
            }
            message_input.value = "";
            fetch("{% url 'chat-ajax' chat.id %}",
                {
                    method: "POST",
                    credentials: 'same-origin',
                    headers: {
                        "Content-Type": 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify(message)
                }
            ).then(e => e.json()).then(messages => construct_message(messages))
        }

        let load_messages = () => {
            fetch("{% url 'chat-ajax' chat.id %}")
                .then(e => e.json())
                .then(messages => construct_message(messages))
        }

        let construct_message = (messages) => {
            let messages_container = document.querySelector(".messages");
            let div = document.createElement("div");
            for (let message of messages) {
                if ("{{ user.username }}" === message.sender) {
                    div.innerHTML += `
                        <div class="msg-container msg-self">
                            <div class="msg-box">
                                <div class="message">
                                    <p class="msg" id="msg-0">${message.message}</p>
                                </div>
                                <span class="username">${message.sender}</span>
                            </div>
                        </div>
                    `
                } else {
                    div.innerHTML += `
                        <div class="msg-container">
                            <div class="msg-box">
                                <div class="message">
                                    <p class="msg" id="msg-0">${message.message}</p>
                                </div>
                                <span class="username">${message.sender}</span>
                            </div>
                        </div>
                    `
                }
            }
            messages_container.innerHTML = div.innerHTML;

            if (last_message) {
                if (last_message.time !== messages[messages.length - 1].time) {
                    last_message = messages[messages.length - 1];
                    messages_container.scrollTop = messages_container.scrollHeight;
                }
            } else last_message = messages.pop();
        }

        send_btn.addEventListener('click', send_message);
        setInterval(load_messages, 2000);
    </script>
{% endblock %}